---
layout: base
class: post
---

<article>

    <h1>{{ title }}</h1>
    <details class="nav--toc">
        <summary>Contents</summary>
        {{ content | toc }}
    </details>
    <div class="post-metadata-time">
        Last updated: <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    </div>
    {%- assign taglist = tags | filterTagList | sort_natural %}
    {% if taglist.size > 0 %}
        <ul role="list" class="post-metadata-tags">
            <li>Tags:</li>
            {%- for tag in taglist %}
                <li>
                    <a href="/tags/{{ tag | slugify }}/" class="post-tag">{{ tag }}</a>
                </li>
                {%- unless forloop.last %}
                    <li>·</li>
                {% endunless %}
            {%- endfor %}
        </ul>
    {% endif %}
    {% if packages.size > 0 %}
        {%- assign packagelist = packages | sort_natural %}
        <ul role="list" class="post-metadata-versions">
            <li>Used versions:</li>
            {%- for package in packagelist %}
                {% assign ver = package | split: ':' %} 
                <li>
                    <a href="/tags/{{ ver[0] }}/">{{ ver[0] }}</a> {{ ver[1] }} 
                </li>
                {%- unless forloop.last %}
                    <li>·</li>
                {% endunless %}
            {%- endfor %}
        </ul>
    {% endif %}
    
    {{ content }}

</article>