<head>
  <!-- PAGE DATA -->
  {%- assign pageTitle = manifest.title %}
  {%- assign shortTitle = manifest.title %}
  {%- if title %}
    {%- capture pageTitle %}{{ title }} | {{ manifest.title }}{% endcapture %}
    {%- assign shortTitle = title %}
  {%- endif %}
  <title>{{ pageTitle }}</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="title" content="{{ pageTitle }}">
  <meta name="og:site_name" content="{{ manifest.title }}">
  <meta name="og:title" content="{{ shortTitle }}">
  <meta name="og:url" content="{{manifest.url}}{{ page.url }}">
  <meta name="description" content="{{ description | default: manifest.meta.description }}">
  <meta name="keywords" content="{{ manifest.meta.keywords | join: ', ' }}">
  <meta name="author" content="{{ author | default: manifest.meta.author }}">
  <!-- STYLING -->
  <link rel="stylesheet" href="/css/{{ manifest['style.css'] }}"/>
  {%- for file in css %}
    <link rel="stylesheet" href="/css/{{file}}"/>
  {%- endfor %}
  <!-- FEEDS -->
  <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ manifest.title }}">
  <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ manifest.title }}">
  <!-- ANALYTICS -->
  {% include './analytics' %}
</head>